name: Training Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install pandas scikit-learn mlflow==2.19.0 numpy

    - name: Find and Run MLflow Project
      run: |
        # 1. Cari file MLproject (huruf besar/kecil tidak masalah pakai -iname)
        echo "Sedang mencari file MLproject..."
        PROJECT_FILE=$(find . -iname "mlproject" -type f | head -n 1)
        
        if [ -z "$PROJECT_FILE" ]; then
          echo "ERROR: File MLproject tidak ditemukan!"
          ls -R
          exit 1
        fi
        
        # 2. Ambil nama foldernya
        PROJECT_DIR=$(dirname "$PROJECT_FILE")
        echo "File ditemukan di: $PROJECT_FILE"
        
        # 3. Rename paksa jadi MLproject agar dikenali MLflow (Jaga-jaga)
        if [ "$(basename "$PROJECT_FILE")" != "MLproject" ]; then
            mv "$PROJECT_FILE" "$PROJECT_DIR/MLproject"
            echo "Renamed $(basename "$PROJECT_FILE") to MLproject"
        fi
        
        # 4. Jalankan MLflow
        mlflow run "$PROJECT_DIR" --env-manager=local
