name: Training Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install pandas scikit-learn mlflow==2.19.0 numpy

    - name: Run Training Script
      run: |
        cd MLProject
        python modelling.py

    - name: Commit and Push Metrics (Syarat Skilled)
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        
        # Cek status git
        git status
        
        # Tambahkan file metrics.txt yang baru dibuat
        git add MLProject/metrics.txt
        
        # Commit dan Push jika ada perubahan
        git commit -m "Auto-update: Model metrics updated by GitHub Actions" || echo "No changes to commit"
        git push